/* src/App.css */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  background-color: #f7f7f7;
}

.auth-container {
  display: flex;
  flex-direction: column; /* Coloca el registro y el login uno debajo del otro */
  margin-left: 20px; /* Espaciado entre la imagen y el formulario */
}
